@import '~@gen3/ui-component/dist/css/base.css';

:root {
  --primary: #6d6e70;
  --highlight: #c02f42;
}

.app {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: var(--primary);
}

.g3-button--primary {
  background-color: var(--highlight);
}

.g3-button--primary:hover {
  background-color: var(--primary);
}
