.manage-users {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.manage-users__tab-bar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.manage-users__tab {
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 10px 10px 0 10px;
  padding: 10px 10px;
  cursor: pointer;
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}

.manage-users__tab:hover {
  background-color: var(--highlight);
  color: #fff;
  border-color: var(--highlight);
}

.manage-users__tab--selected {
  background-color: var(--primary);
  color: #fff;
}

.manage-users__content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 0 10px 10px 10px;
  border-top: 2px solid var(--primary);
}
